Tests/Connected Services/ServiceReferenceSystem/SystemService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AddSysInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="os" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pcName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="processoeInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSysInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSysInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>