UI/Connected Services/ServiceReferenceUI/UIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51210/UIService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51210/UIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51210/UIService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUIService_LiveSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:LiveSearch" />
  </wsdl:message>
  <wsdl:message name="IUIService_LiveSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:LiveSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IUIService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUIService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUIService_GetAllMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessages" />
  </wsdl:message>
  <wsdl:message name="IUIService_GetAllMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IUIService_GetMessegesOnDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessegesOnDate" />
  </wsdl:message>
  <wsdl:message name="IUIService_GetMessegesOnDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessegesOnDateResponse" />
  </wsdl:message>
  <wsdl:portType name="IUIService">
    <wsdl:operation name="LiveSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIService/LiveSearch" message="tns:IUIService_LiveSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIService/LiveSearchResponse" message="tns:IUIService_LiveSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIService/GetAllUsers" message="tns:IUIService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIService/GetAllUsersResponse" message="tns:IUIService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIService/GetAllMessages" message="tns:IUIService_GetAllMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIService/GetAllMessagesResponse" message="tns:IUIService_GetAllMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessegesOnDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IUIService/GetMessegesOnDate" message="tns:IUIService_GetMessegesOnDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUIService/GetMessegesOnDateResponse" message="tns:IUIService_GetMessegesOnDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUIService" type="tns:IUIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LiveSearch">
      <soap:operation soapAction="http://tempuri.org/IUIService/LiveSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUIService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <soap:operation soapAction="http://tempuri.org/IUIService/GetAllMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessegesOnDate">
      <soap:operation soapAction="http://tempuri.org/IUIService/GetMessegesOnDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UIService">
    <wsdl:port name="BasicHttpBinding_IUIService" binding="tns:BasicHttpBinding_IUIService">
      <soap:address location="http://localhost:51210/UIService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>